/* Basic Page Structure */
body {
  background-color: rgba(224, 255, 255, 0.247);
  
}

header {
  background-color: antiquewhite;
  height: 100px;
  border: 5px double dimgrey;
}

h1 {
  text-align: center;
  color: darkcyan;
  font-family: Palatino, URW Palladio L, serif;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 35px;
  width: 60%;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: darkcyan;
  font-family: Palatino, URW Palladio L, serif;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  padding: 10px;
  margin: 25px auto 0 auto;
  background-color: antiquewhite;
  border: 2px solid dimgrey;
}

p {
  text-align: center;
  color: dimgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid darkcyan;
  font-size: 18px;
}

.content {
  box-sizing: border-box;
  position: relative;
  margin: auto 10px;
}

.mediaLink {
  font-size: 12px;
}

li {
  color: darkcyan;
  font-family: Bookman, URW Bookman L, serif;
  font-size: 25px;
  font-weight: bold;
  opacity: 100%;
  margin: auto auto auto 20%;
}

ul {
  list-style-type: inherit;
  opacity: 100%;
}

.content-food {
  background-image: url("https://image.freepik.com/free-vector/yellow-lemon-background_53876-93595.jpg");
  background-position: bottom;
}

/* Nav menu and back to top button */
nav {
  text-align: center;
  display: block;
  width: 96%;
  background-color: rgba(220, 220, 220, 0.836);
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 2;
  border: 1px solid darkcyan;
}

a {
  color: darkcyan;
  font-weight: bold;
  font-size: 16px;
}

.top-button {
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 5%;
  top: 163px;
  margin: auto 20px;
  z-index: 3;
}
.home-button {
  font-size: 8px;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 3%;
  top: 50px;
  margin: auto 20px;
  z-index: 3;
}

/* Images and Captions */
.figure-1 {
  display: block;
  margin: auto auto;
  width: 50%;
  border: 2px double dimgrey;
}
.caption {
  color: darkcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.iframe-2 {
  margin: auto auto auto 25%;
}
video {
  width: 96%;
  margin: auto;
}

/* Form Layout */
.label {
  color: darkcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px; 
  text-align: center;
  opacity: 100%;
  background-color: antiquewhite;
  border: 1px solid dimgrey;
}

.text-input {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  width: 35%;
  opacity: 100%;
}

input {
  color: dimgrey;
  font-family: Bookman, URW Bookman L, serif;
  font-size: 20px;
  opacity: 100%;
}

form {
  margin: auto;
  width: 65%;
}

.form {
  background-image: url("https://image.freepik.com/free-vector/set-sliced-fruits_1308-15753.jpg"); 
  background-blend-mode:  color-burn;
  background-position-x: center; 
  background-position-y: center;
}

.p-form {
  background-color: rgba(0, 139, 139, 0.479);
}
